<h2>Volunteer Details</h2>

<% if @volunteer %>
  <% volunteer_project = Project.find(@volunteer.project_id) %>

  <table class="volunteer-description">
    <tr>
      <td>Name:</td>
      <td><span class="detail-display"><%= @volunteer.name %></span></td>
    </tr>
    <tr>
      <td>ID:</td>
      <td><span class="detail-display"><%= @volunteer.id %></span></td>
    </tr>
    <tr>
      <td>Project:</td>
      <td><span class="id"><%= volunteer_project.title %></span></td>
    </tr>
  </table>

  <h3>Edit Volunteer Details</h3>

  <form action="/volunteers/<%= @volunteer.id %>/edit" method="post">
    <input name="_method" type="hidden" value="patch">

    <div class="form-group">
      <label for="name">Change name:</label>
      <input name="name" type="text" value="<%= @volunteer.name %>">
    </div>
    <div class="form-group">
      <label for="project_id">Change project:</label>
      <select name="project_id" class="form_control">
        <% projects = Project.all %>
        <% projects.each do |project| %>
          <option value="<%= project.id %>" <% if project.id == @volunteer.project_id %>selected<% end %>><%= project.title %></option>
        <% end %>
      </select>
    </div>
    <button type="submit" class="btn">Update Volunteer</button>
  </form>
  <form action="/volunteers/<%= @volunteer.id %>/delete" method="post">
    <input name="_method" type="hidden" value="delete">
    <button type="submit" class="btn">Delete Volunteer</button>
  </form>
<% else %>
  <p>The volunteer could not be found.</p>
<% end %>

<p><a href="/projects/<%= @volunteer.project_id %>">View Details for Project <%= volunteer_project.title %></a></p>
<p><a href="/projects">View all Projects</a></p>
